
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Price:
      $<%= @order.total_cent/100 %>.<%=@order.total_cent%100%>
       <% @order.line_items.each do |item| %>
          <% @prod = Product.find(item.product_id)%>
          <li>Product name<%=@prod.name%></li>
          <li>Price<%=@prod.price%></li>
          <li>Quanitity<%=@prod.Quanitity%></li>
        <%end%>
  </body>
</html>